@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.card-container {
  width: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  height: 15vh;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(68, 67, 67);
  color: whitesmoke;
  padding: 1em .5em 1em .5em;
}

.card-name {
  font-size: 1rem;
}

.learn-more-button{
    font-size: .75rem;
    background: grey;
    outline: none;
    border: .5em black;
    border-radius: 2px;
}