
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: teal;  
  background: url("https://c4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-preview.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color:antiquewhite
}

.characters-container,
.planets-container,
.vehicles-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  overflow-x: scroll;
  margin: 2rem 0;
  scrollbar-color: black grey;
}

.logo {
  height: 6rem;
  width: 7rem;
}


.navbar {
  background-color: black;
  justify-content: space-between;
}

